<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../static/css/style.css"> <!-- Resource style -->
    <script src="../static/js/modernizr.js"></script> <!-- Modernizr -->

    <title>3D Folding Panel</title>
</head>
<body>
<div class="cd-fold-content single-page">

    <div class="table100">
        <table>
            <thead>
            <tr class="table100-head">
                <th class="column1">Destination</th>
                <th class="column2">Departure Time</th>
                <th class="column3">Track #</th>
                <th class="column4">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            <tr>
                <td class="column1">{{ post.train.status }}</td>
                <td class="column2">{{ post.train.status }}</td>
                <td class="column3">{{ post.train.status }}</td>
                <td class="column4">{{ post.train.status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</body>
<script src="../static/js/jquery-2.1.1.js"></script>
<script src="../static/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>